<div class="container px-3 py-5 pt-md-4 pb-md-4 mx-auto" id="navbarSupportedContent">
  <h1 class="display-4 fw-bold text-center">Ismertető</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="text-justify fs-5 mb-4">
        Üdvözöllek a Bibó István Szakkollégium Politikatudományi Műhelyének tagjai
        számára készített oldalon. A honlap célja, hogy elősegítse a féléves szakmai
        ív könnyebb, átláthatóbb és kiszámíthatóbb tervezését, valamint a lezárult
        félév tanulmányi teljesítményének megítélését.
      </p>
      <h4 class="fw-bold mb-3">Hogyan működik a kalkulátor?</h4>
      <p class="text-justify fs-5 mb-4">
        Felül, a <a href="{% url 'CalcWizard' %}" class="link-primary">Kalkulátor</a> menüpontra
        kattintva érheted el az űrlapot, melyet kitöltve részletes kimutatást kapsz
        a büntetőpontjaid jelenlegi állásáról, valamint arról, hogy tanulmányi
        kötelezettségeid teljesítésének lehetséges elmaradása hogyan érintheti a
        szakkollégiumi tagságodat.
      </p>
      <p class="text-justify fs-5 mb-4">
        Amennyiben az oldal működésével kapcsolatban hibát fedeznél fel, vagy
        szeretnél visszajelzést küldeni, kérlek kattints a
        <a href="/contact" class="link-primary">Kapcsolat</a> menüpontra.
      </p>
      <h4 class="fw-bold mb-3">Disclaimer</h4>
      <p class="text-justify fs-5 mb-0">
        A kalkulátor a <a href="/pmtsz" class="link-primary">Szabályzat</a> menüpont alatt
        elérhető dokumentum alapján készült, a kalkulátor pedig a
        <a target="_blank" rel="noopener noreferrer" href="https://app.diagrams.net/#G1kBm0kg2u4H8dbYJrcFVvw6TEr1YlbqmR" class="link-primary">linken</a>
        elérhető logikát implementálja. Az oldal egy hobbi projekt béta verzióját
        reprezentálja, amely a legnagyobb igyekezet ellenére is tartalmazhat
        hibákat. A kalkuláció eredményei így elsősorban csak tájékoztató jellegűek.
      </p>
    </div>
  </div>
</div>
